<?xml version="1.0"?>
<window type="window" id="14000">
  <defaultcontrol always="true">100</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <onload lang="python">
    <![CDATA[
import helpers
helpers.cleanse_feed()
]]>
</onload>
  <controls>
    <control type="group">
      <control type="image">
        <posx>0</posx>
        <posy>0</posy>
        <width>1280</width>
        <height>720</height>
        <texture>background.png</texture>
      </control>
      <control type="list" id="100">
        <posx>600</posx>
        <posy>0</posy>
        <width>680</width>
        <height>720</height>
        <orientation>vertical</orientation>
        <itemlayout height="80">
          <control type="label">
            <posx>0</posx>
            <posy>0</posy>
            <width>640</width>
            <height>90</height>
            <font>font30</font>
            <align>left</align>
            <aligny>center</aligny>
            <label>$INFO[ListItem.Label]</label>
            <textcolor>FF000000</textcolor>
            <wrapmultiline>true</wrapmultiline>
          </control>
        </itemlayout>
        <focusedlayout height="80">
          <control type="label">
            <visible>!Control.HasFocus(100)</visible>
            <posx>0</posx>
            <posy>0</posy>
            <width>640</width>
            <height>90</height>
            <font>font30b</font>
            <align>left</align>
            <aligny>center</aligny>
            <label>$INFO[ListItem.Label]</label>
            <textcolor>FF9f1801</textcolor>
            <selectedcolor>DD525252</selectedcolor>
            <wrapmultiline>true</wrapmultiline>
          </control>
          <control type="label">
            <visible>Control.HasFocus(100)</visible>
            <posx>0</posx>
            <posy>0</posy>
            <width>640</width>
            <height>90</height>
            <font>font30b</font>
            <align>left</align>
            <aligny>center</aligny>
            <label>$INFO[ListItem.Label]</label>
            <textcolor>FF9f1801</textcolor>
            <selectedcolor>DD525252</selectedcolor>
            <wrapmultiline>true</wrapmultiline>
          </control>
        </focusedlayout>
        <content type="url" url="rss://vimcasts.org/feeds/quicktime/">
          <onclick lang="python">
            <![CDATA[
import helpers
helpers.play_video()
]]>
</onclick>
        </content>
      </control>
    </control>
    <control type="group">
      <control type="label">
        <visible>true</visible>
        <posx>40</posx>
        <posy>165</posy>
        <width>520</width>
        <height>430</height>
        <font>light23</font>
        <align>left</align>
        <aligny>top</aligny>
        <label>[B]$INFO[Container(100).ListItem.property(title)][/B][CR]$INFO[Container(100).ListItem.property(description)]</label>
        <background>white</background>
        <textcolor>DD272727</textcolor>
        <wrapmultiline>true</wrapmultiline>
      </control>
    </control>
  </controls>
</window>
